.modal#popup_game.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        = link_to "X", "#", :class => "close", "data-dismiss" => "modal", :id => "close"
        %h4#myModalLabel.modal-title Create Game
      .modal-body
        #choose_team
          .pull-left= radio_button_tag "game", "list", true, :class => "radio"
          .pull-left.mg-left= label_tag "game_list", "Choose Teams from listing Teams", :class => "radio-label"
          .clearfix
          .pull-left= radio_button_tag "game", "new", false, :class => "radio"
          .pull-left.mg-left= label_tag "game_new", "Choose Teams from creating new team", :class => "radio-label"
          .clearfix
        = simple_nested_form_for(@game, :url => url, :method => :post, :remote => true, :html => {:class => "form-vertical", :id => "game"}) do |f|
          = f.error_notification
          .form-inputs
            = f.input :on_date, :as => :string, :input_html => {:class => "select-date", :value => f.object.on_date}, :label => "Date"
            = hidden_field_tag "old_list_team", true
            .row.old-teams
              %div.home.col-xs-6
                .header-info
                  %h4 Team
                  = f.input :team_id, :collection => Team.order("name ASC"), :as => :select, :selected => f.object.new_record? ?  [] : f.object.team.id, :label => false, :prompt => "Select one"
                  #team_error.font-error
                  = #f.input :team_score, :label => 'Score'
              %div.away.col-xs-6
                .header-info
                  %h4 Opponent Team
                  = f.input :opponent_team_id, :collection => Team.order("name ASC"), :as => :select, :selected => f.object.new_record? ?  "" : f.object.team.id, :label => false, :prompt => "Select one"
                  = #f.input :opponent_team_score, :label => "Score"
            .row.hidden.new-team
              .home.col-xs-6
                .header-info
                  %h4 Team
                = f.fields_for :team do |t| 
                  = t.input :name
                  = t.fields_for :user_teams do |u| 
                    = u.input :user_id, :collection => User.all.order("first_name").map{|user| [user.first_name, user.id]}, as: :select, label: false, prompt: "Select User"
                    = u.input :team_id, as: :hidden, input_html: {value: t.object.id}
                    = u.link_to_remove "Remove"
                  = t.link_to_add "Add User", :user_teams
              .opponent.col-xs-6
                .header-info
                  %h4 Opponent Team
                = f.fields_for :opponent_team do |ot| 
                  = ot.input :name
                  = ot.fields_for :user_teams do |u| 
                    = u.input :user_id, :collection => User.all.order("first_name").map{|user| [user.first_name, user.id]}, as: :select, label: false, prompt: "Select User"
                    = u.input :team_id, as: :hidden, input_html: {value: ot.object.id}
                    = u.link_to_remove "Remove"
                  = ot.link_to_add "Add User", :user_teams
          .modal-footer
            .form-actions
              = button_tag 'Save', :class => "btn btn-primary", :id => "save_game"
              = link_to "Cancel", "#", :class => "btn", "data-dismiss" => "modal", :id => "close"

