<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Users', users_path %></li>
  <li><%= link_to 'Games', games_path%></li>
  <li><%= link_to 'History', games_path%></li>
  <li><%= link_to 'Stats', games_path%></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
<% end %>
